In [1]:
import sqlite3
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#1.1
data = pd.read_csv('hw3_data.csv')
hg19coors = data.loc[:,['name', 'chrom', 'strand', 'txStart', 'txEnd']]

In [3]:
#1.2
con = sqlite3.connect('hg19.sqlite')
hg19coors.to_sql(name = 'hg19coors', con = con)

ValueError: Table 'hg19coors' already exists.

In [18]:
2
def identify_genes(df_chromsegments, con):
    arr = np.array([])
    for line in df_chromsegments.iterrows():
        start = line[1]['start']
        end = line[1]['end']
        df = pd.read_sql('select distinct(name) from hg19coors where :start >= txStart and :end <= txEnd and chrom = "chr1"', con, params = {'start':start,'end':end},)
        arr = np.concatenate((arr,df['name'].values))
    return np.unique(arr)
df_chromsegments = pd.read_csv('chromosomalsegments.txt', sep = '\t')




ans = identify_genes(df_chromsegments, con)
ans.size

255

In [15]:
3.1
def identify_genes_timed(df_chromsegments, con):
    start_time = datetime.now()
    arr = np.array([])
    for line in df_chromsegments.iterrows():
        start = line[1]['start']
        end = line[1]['end']
        df = pd.read_sql('select distinct(name) from hg19coors where :start >= txStart and :end <= txEnd and chrom = "chr1"', con, params = {'start':start,'end':end},)
        arr = np.concatenate((arr,df['name'].values))
    time_taken = datetime.now() - start_time
    return (np.unique(arr),time_taken)


df_chromsegments = pd.read_csv('chromosomalsegments.txt', sep = '\t')
ans,time_taken_no_idx = identify_genes_timed(df_chromsegments, con)
print(ans.shape,time_taken_no_idx)

(255,) 0:00:01.883106

In [16]:
3.2 
def identify_genes_timed(df_chromsegments, con):
    start_time = datetime.now()
    arr = np.array([])
    for line in df_chromsegments.iterrows():
        start = line[1]['start']
        end = line[1]['end']
        df = pd.read_sql('select distinct(name) from hg19coors where :start >= txStart and :end <= txEnd and chrom = "chr1"', con, params = {'start':start,'end':end},)
        arr = np.concatenate((arr,df['name'].values))
    time_taken = datetime.now() - start_time
    return (np.unique(arr),time_taken)

df_chromsegments = pd.read_csv('chromosomalsegments.txt', sep = '\t')
ans,time_taken_w_idx = identify_genes_timed(df_chromsegments, con)
print(time_taken_w_idx)

0:00:00.955807